services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - lottery-network

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: unless-stopped
    volumes:
      - ./backend/uploads:/app/uploads
    env_file:
      - ./backend/.env.docker
    depends_on:
      - mongo
    networks:
      - lottery-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - lottery-network

networks:
  lottery-network:
    driver: bridge

volumes:
  mongo_data:
