:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app_main_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
}

.app_slider {
  width: 100%;
}
.app_slider img {
  width: 100%;
}

.app_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app_cont_inside{
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_cont_inside h2{
  font-size: 40px;
}
.app_cont_inside p{
  font-size: 20px;
}
.image_container, .image_container img {
  width: 100%;
}
.image_container img {
  border-radius: 5px;
}
.app_login_page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.app_ins_login {
  width: 400px;
}
.app_ins_login h4 {
  text-align: center;
  font-size: 14px;
}
.app_ins_login form {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.app_ins_login form input {
  border: 0px solid transparent;
  height: 46px;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.app_ins_login form input[type="submit"] {
  border: 0px solid transparent;
  height: 46px;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 15px;
  background: #535bf2;
  font-family: "Inter", sans-serif;
}

.app_ins_login_upload {
  width: 600px;
}
.app_ins_login_upload h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.app_ins_login_upload form {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.app_ins_login_upload form input {
  border: 0px solid transparent;
  height: 46px;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.app_ins_login_upload form input[type='file'] {
  border: 1px solid #444444;
  height: 24px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.app_ins_login_upload form button {
  border: 0px solid transparent;
  height: 46px;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 15px;
  background: #535bf2;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
}
.inside_form {
  width: 100%;
  display: flex;
  gap: 10px;
}
.logout {
  display: flex;
  background-color: rgba(255, 255, 255, 0.20);
  width: 100%;
  height: 40px;
  margin-top: 40px;
  align-items: center;
  border-radius: 8px;
  font-size: 13px;
  justify-content: center;
  cursor: pointer;
}